<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Python App</title>
	</head>
	<body>
		<h2>Welcome in python app</h2>
		<h5>
			"Hey there , I'm a autodidact programmer who is learning to code in Python
			and Flask and JS is my heart"
		</h5>
		<h3>
			Wow ,
			<span
				style="
					font-size: 100px;
					border-top-right-radius: 10%;
					border: 3px solid green;
					color: green;
					display: inline-block;
				"
				>Python</span
			>
			also awesome in web development
		</h3>
		<a
			href="https://github.com/MdAzizulHaqueWebDev/play-with-python"
			target="_blank"
			>Source code</a
		>
	</body>
</html>
